boto3
botocore
urllib3
setuptools
requests
s3transfer
google-api-core
charset-normalizer
certifi
python-dateutil
idna
typing-extensions
six
pyyaml
cryptography
awscli
numpy
wheel
pyparsing
rsa
packaging
pyasn1
pip
pytz
jmespath
pyjwt
importlib-metadata
pandas
zipp
protobuf
colorama
oauthlib
attrs
click
cffi
requests-oauthlib
markupsafe
jinja2
pycparser
google-auth
docutils
cachetools
googleapis-common-protos
pyarrow
pyasn1-modules
aiobotocore
wrapt
lxml
psutil
google-cloud-bigquery
isodate
grpcio
sqlalchemy
fsspec
azure-core
werkzeug
async-timeout
s3fs
google-cloud-storage
decorator
aiohttp
flask
chardet
yarl
multidict
pyopenssl
greenlet
msrest
tomli
jsonschema
soupsieve
filelock
py
scipy
frozenlist
beautifulsoup4
pytest
pluggy
importlib-resources
pillow
google-cloud-core
asn1crypto
platformdirs
aiosignal
tqdm
tabulate
google-resumable-media
pyrsistent
websocket-client
openpyxl
et-xmlfile
azure-storage-blob
itsdangerous
proto-plus
virtualenv
azure-common
future
iniconfig
psycopg2-binary
pydantic
