boto3
botocore
urllib3
setuptools
requests
s3transfer
google-api-core
charset-normalizer
certifi
python-dateutil
idna
typing-extensions
six
pyyaml
cryptography
awscli
numpy
wheel
pyparsing
rsa
packaging
pyasn1
pip
pytz
jmespath
pyjwt
importlib-metadata
pandas
zipp
protobuf
colorama
oauthlib
attrs
click
cffi
requests-oauthlib
markupsafe
jinja2
pycparser
google-auth
docutils
cachetools
googleapis-common-protos
pyarrow
pyasn1-modules
